*{
    margin: 0%;
    padding: 0%;
}
.main{
    margin-top: 5px;
    margin-bottom: 5px;
}
form{
    text-align: center;
    width: 100%;
}
h2{
    text-align: center;
}
p{
    font-size: 25px;
}
label{
    margin-bottom: 5px;
}
input{
    padding: 3px 7px;
}
select{
    padding: 5px 10px;
}
.btn{
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgb(209, 228, 240);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}